
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%#= devise_error_messages! %>
<div class="first-box">
  <div class="content-box">
  <h1>あなたのOJTマネジメントを始めましょう</h1>

  <div class="field">
   <%= f.label :name, '名前' %><br />
   <%= f.text_field :name, autofocus: true , :class => "input-box"%>
  </div>

  <div class="field">
   <%= f.label :crew_number, '社員番号' %><br />
   <%= f.text_field :crew_number, autofocus: true , :class => "input-box"%>
  </div>

  <div class="field">
   <%= f.label :sex, '性別' %><br />
   <%= f.select :sex, [["",""], ["女性","女性"], ["男性","男性"]], {} , :class => "input-box"%>
  </div>

  <div class="field">
   <%= f.label :age, '年齢' %><br />
   <%= f.number_field :age , :class => "input-box", :value => 0, in: 0...150 %>
  </div>

  <div class="field">
    <p><%= f.label :belong, '所属' %><br />
    <%= f.select :belong, [["",""], ["正社員","正社員"], ["派遣社員","派遣社員"],["パート","パート"], ["アルバイト","アルバイト"]], {}, :class => "input-box" %></p>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "input-box"%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "input-box" %>
  </div>

  <div class="field">
    <%= f.label :image, 'プロフィール画像' %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "input-box" %>
  </div>

  <%= f.hidden_field :admin, value: true %>
  <%  require 'securerandom' %>
  <% cid = SecureRandom.random_number(100000)%>
  <%= f.hidden_field :cid, value: cid %>

  <div class="actions">
    <%= f.submit "Sign up", :class =>"link-button" %>
  </div>
  </div>
</div>
<% end %>
