<%= form_for @sirabasu,url: sirabasu_path do |form| %>
<div class="first-box">
  <div class="content-box">
    <h1>シラバス作成</h1>

    <div class="field">
      <%= form.label :section_number, "章番号" %><br />
      <%= form.number_field :number ,:readonly => true,:placeholder =>"章番号" ,:value => "#{@sirabasu.number}",:class => "input-box" %>
    </div>

    <div class="field">
      <%= form.label :section_name, "タイトル" %><br />
      <%= form.text_field :name ,:placeholder => "タイトル", :class => "input-box"%>
    </div>

    <div class="field">
      <%= form.label :section_name, "内容" %><br />
      <%= form.text_area :content, :class => "text-area"%>
    </div>

    <div class="field">
      <%= form.submit "保存", :class=> "link-button"%>
    </div>
  </div>
</div>
<% end %>

<%= link_to 'シラバス一覧へ', sirabasus_path %>
