<%= form_with(model: @sirabasu_form, url: sirabasu_path) do |form| %>
<%#= form_for(@sirabasu) do |form| %>
<div class="content">
    <div class="background-box">
        <div class="content-area">
            <div class="content-title-input">
                <p>シラバス編集</p>
                <%= form.label :name ,'名前' %>
                <%= form.text_field :name %>
            </div>
            <%= form.label :name ,'内容'%>
            <div class="text-area">
                <%= form.text_area :content, :size => "50×15"%>
            </div>
            <%= form.file_field :image_path, multiple: true%>
            <%#%= form.check_box :remove_image_path %>
            <div class="link-button">
                <%= form.submit "保存" %>
            </div>
        </div>
    </div>
</div>
<% end %>

<%= link_to 'シラバス一覧へ', sirabasus_path %>
