<%= form_for @sirabasu,url: sirabasu_path do |f| %>
<div class="first-box">
    <div class="content-box">
    
        <h1>シラバス編集</h1>
        <div class="field">
            <%= f.label :section_number, "章番号" %><br />
            <%= f.number_field :number ,:readonly => true,:value => "#{@sirabasu.number}",:class => "input-box" %>
        </div>

        <div class="field">
            <%= f.label :section_name, "タイトル" %><br />
            <%= f.text_field :name ,:placeholder => "タイトル", :class => "input-box"%>
        </div>

        <div class="field">
            <%= f.label :section_name, "内容" %><br />
            <%= f.text_area :content, :class => "text-area"%>
            <%= f.file_field :image, multiple: true %>
            <% if @sirabasu.image?%>
            <% i = 1 %>
            <% @sirabasu.image.each do |image|%>
            <%=image_tag image.url , :size =>'130x130'%>画像<%= i %>
            <% i = i + 1 %>
            <% end %>
            <% end %>
        </div>
        
        <div class="field">
            <%= button_tag :type => 'submit', :class=>'link-button' do %>
                <i class='material-icons'>save</i>
                保存
            <% end %>
        </div>
    </div>
</div>
<div class="first-box">
    <div class="content-box">
        <h1>チェックリスト</h1>

        <%= f.nested_fields_for :checklists, wrapper_tag: :div do |che| %>
        <div class="fields">
            <%#= che.number_field :number ,:readonly => true, :value %>
            <%= che.hidden_field :number , :value => "#{@checklist_num}"%>
            <%= che.text_area :content, :class => "checklist" %>
            <%= che.hidden_field :cid, value: current_kanrisya.cid %>
            <%= che.hidden_field :userid, value: current_kanrisya.id %>
            <%= che.remove_nested_fields_link '削除', class: 'btn btn-danger', role: 'button' %>
        </div>
        <% end %>
        <div class="field">
            <%= f.add_nested_fields_link :checklists, '追加', class: 'link-button', role: 'button'  %>
        </div>
        <div class="field">
            <%= button_tag :type=>'submit', :class=> "link-button" do %>
                <i class='material-icons'>save</i>
                保存
            <% end %>
        </div>
    </div>
</div>
<% end %>

<%= link_to 'シラバス一覧へ', sirabasus_path %>
