<%= form_for @sirabasu,url: sirabasu_path do |f| %>
<% if @sirabasu.errors.any? %>
<ul>
    <% @sirabasu.errors.full_messages.each do |msg| %>
    <li>
        <%= msg %>
    </li>
    <% end %>
</ul>
<% end %>
<div class="first-box">
    <div class="content-box">

        <h1>シラバス編集</h1>
        <div class="field">
            <%= f.label :section_number, "章番号" %><br />
            <%= f.number_field :number ,:readonly => true,:value => "#{@sirabasu.number}",:class => "input-box" %>
        </div>

        <div class="field">
            <%= f.label :section_name, "タイトル" %><br />
            <%= f.text_field :name ,:placeholder => "タイトル", :class => "input-box"%>
        </div>

        <div class="field">
            <%= f.label :section_name, "内容" %><br />
            <%= f.text_area :content, :class => "text-area"%>
            <%= f.file_field :image, multiple: true %>
            <div class="syllabus-image">
                <% if @sirabasu.image?%>
                    <% i = 1 %>
                    <% @sirabasu.image.each do |image|%>
                    <div>
                        <%=image_tag image.url %>
                        <p>画像<%= i %></p>
                    </div>
                    <% i = i + 1 %>
                    <% end %>
                <% end %>
            </div>
        </div>

        <div class="field">
            <%= button_tag :type => 'submit', :class=>'link-button' do %>
            <i class='material-icons'>save</i>
            保存
            <% end %>
        </div>
    </div>
</div>
<div class="first-box">
    <div class="content-box">
        <h1>チェックリスト</h1>

        <!--新しくcocoonを試用-->
        <%= f.fields_for :checklists do |builder| %>
        <%= render 'checklist_fields', f: builder %>

        <% end %>
        <div class="field">
            <%= link_to_add_association "追加", f, :checklists, class: 'link-button' %><br />
            
            <%= button_tag :type=>'submit', :class=> "link-button" do %>
                <i class='material-icons'>save</i>
                保存
            <% end %>
        </div>
    </div>
</div>
<% end %>

<!-- <%= link_to 'シラバス一覧へ', sirabasus_path %> -->
