<div class="first-box">
  <div class="content-box">
    <h1>シラバス一覧</h1>

    <div class="lists">
      <table>
        <tbody>
          <% i = 0 %>
          <% @sirabasu.each do |sirabasu| %>
          <tr>
            <td class='number'><%= sirabasu.number %>. </td>
            <td><%= link_to sirabasu.name, sirabasu_path(sirabasu.number) %></td>
            <% if current_kanrisya.admin == true %>
              <td class='icon'><%= link_to(content_tag(:i,'edit',class:'material-icons'), edit_sirabasu_path(sirabasu.number)) %></td>
              <td class='icon'><%= link_to(content_tag(:i,'delete',class:'material-icons'), sirabasu_path(sirabasu.number), :method => :delete, data: {confirm: "削除しますか？"}) %></td>
              <td class='icon'><%= link_to(content_tag(:i,'settings',class:'material-icons'), publishing_config_path(sirabasu.number)) %></td>
            <% else %>
              <td><%= @stat_list[i] %></td>
            <% end %>
          </tr>
          <% i += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>

    <% if current_kanrisya.admin == true %>
      <%= link_to new_sirabasu_path, class:'link-button' do %>
        <div>
          <i class='material-icons'>add</i>
          新規作成
        </div>
      <% end %>
    <% end %>

    <!-- <p><%= link_to 'トップへ', '/ojt_top/top' %></p> -->
  </div>
</div>
