<%= form_for(@sirabasu) do |f| %>
<div class="first-box">
  <div class="content-box">
    <h1>シラバス作成</h1>

    <div class="field">
      <%= f.label :section_number, "章番号" %><br />
      <%= f.number_field :number ,:readonly => true,:placeholder =>"章番号" ,:value => "#{@new_num}",:class => "input-box" %>
    </div>
    <div class="field">
      <%= f.label :section_name, "タイトル" %><br />
      <%= f.text_field :name ,:placeholder => "タイトル", :class => "input-box"%>
    </div>

    <div class="field">
      <%= f.label :section_name, "内容" %><br />
      <%= f.text_area :content, :class =>"text-area" %>
    </div>
    <%= f.file_field :image, multiple: true %>
    <%= f.hidden_field :cid, value: current_kanrisya.cid %>
    <%= f.hidden_field :userid, value: current_kanrisya.id %>

  </div>

  <div class="content-box">
    <h1>チェックリスト</h1>

    <%= f.fields_for :checklists do |builder| %>
      <%= render 'checklist_fields', f: builder %>
    <% end %>

    <div class="top-regist">
      <%= link_to_add_association "追加", f, :checklists, class: 'link-button' %><br />
      <%= f.submit "登録", :class =>"link-button"%>
    </div>
  </div>
</div>
<% end %>
