<h2>シラバス</h2>

<table>
  <thead>
    <tr>
    <!--
    <th>id</th>
    -->
      <th>章番号</th>
      <th>名前</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <!--
    <td>
    <%= @sirabasu.id %>
    </td>
    -->
      <td>
        <%= @sirabasu.number %>
      </td>
      <td>
        <%= @sirabasu.name %>
      </td>
      <td>
        <%= @sirabasu.content %>
      </td>
    </tr>
  </tbody>
</table>

<h2>チェックリスト</h2>
<table>
  <thead>
    <tr>
    <!--
    <th>sirabasu_id</th>
    -->
      <th>節番号</th>
      <th>名前</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <% @checklist.each do |checklist| %>
    <tr>
    <!--
    <td>
<%= checklist.sirabasu_id %>
    </td>
    -->
      <td>
        <%= checklist.number %>
      </td>
      <td>
        <%= checklist.name %>
      </td>
      <td>
        <%= checklist.content %>
      </td>
      <td>
        <%= link_to "編集", edit_sirabasu_checklist_path(@sirabasu.number,checklist.number) %>
      </td>
      <td>
        <%= link_to "削除", sirabasu_checklist_path(@sirabasu.number,checklist.number), :method => :delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'チェックリスト作成', new_sirabasu_checklist_path(@sirabasu.number) %>
<%= link_to 'シラバス一覧へ戻る', sirabasus_path %>