<div class="first-box">
  <div class="content-box">
    <h1>シラバス</h1>
    <h2>
      <%= @sirabasu.number %>.
      <%= @sirabasu.name %>
    </h2>

    <div class="field">
      <%= simple_format(@sirabasu.content) %>
    </div>

    <% if current_kanrisya.admin == true %>
    <div class="field">
      <%= link_to edit_sirabasu_path(@sirabasu.number) do %>
        <div class='link-button'>
          <i class='material-icons'>edit</i>
          編集
        </div>
      <% end %>
    </div>
    <% end %>
    
    <% if @sirabasu.image?%>
    <% i = 1 %>
    <% @sirabasu.image.each do |image|%>
    <%=image_tag image.url , :size =>'130x130'%>画像
    <%= i%>
    <% i = i + 1 %>
    <% end %>
    <% end %>
  </div>
</div>

<div class="first-box">
  <div class="content-box">
    <% if @stat %>
    <h1>チェックリスト</h1>
    <%=form_tag({ controller: 'checkusers', action: 'checkup' },{ method: "post"}) do %>
    <div class="check-list">
      <% @checklist.each do |checklist| %>
        <% if current_kanrisya.cid == checklist.cid %>
          <div class="check-box">
            <% if current_kanrisya.admin == true %>
              <p><%= checklist.content %></p>
            <% else %>
            <% i = 1 %>
              <% @checkuser.each do |checkuser| %>
                <% if checkuser.checklist_id == checklist.id %>
                  <%= hidden_field_tag 'checklist_id[]' ,checklist.id%>
                  <%= hidden_field_tag 'check_id[]' %>
                  <%= check_box_tag 'check_id[]' ,checklist.id,checkuser.check_ok,{:id=> "checkbox_#{i}"} %>
                  <%= label_tag "checkbox_#{i}", checklist.content, :class => 'checkbox-user' %>
                <% end %>
                  <% i += 1 %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <table>
      <thead>
        <tr>
          <th>節番号</th>
          <th>内容</th>
          <% if current_kanrisya.admin == false %>
          <th>チェックボックス</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @checklist.each do |checklist| %>
        <% if current_kanrisya.cid == checklist.cid %>
        <tr>
          <td>
            <%= checklist.number %>
          </td>
          <td>
            <%= checklist.content %>
          </td>
          <% if current_kanrisya.admin == true %>
          <td>
            <%= link_to "編集", edit_sirabasu_checklist_path(@sirabasu.number,checklist.number) %>
          </td>
          <td>
            <%= link_to "削除", sirabasu_checklist_path(@sirabasu.number,checklist.number), :method => :delete %>
          </td>
          <% end %>

          <% if current_kanrisya.admin == false %>
          <% @checkuser.each do |checkuser| %>
          <% if checkuser.checklist_id == checklist.id %>
          <%= hidden_field_tag 'checklist_id[]' ,checklist.id%>
          <%= hidden_field_tag 'check_id[]' %>
          <td>
            <%= check_box_tag 'check_id[]' ,checklist.id,checkuser.check_ok %>
          </td>
          <% end %>
          <% end %>
          <% end %>

        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
    <% if current_kanrisya.admin == true %>
    <%= link_to '編集', edit_sirabasu_path(@sirabasu.number), :class => 'link-button' %>
    <% else %>
    <%= hidden_field_tag :AAAA, @sirabasu.number %>
    <%= submit_tag 'チェックの更新', :class=> "link-button"%>
    <% end %>
    <% end %>

    <% else %>
    <!--従業員がシラバスを利用できない場合-->
    あなたはこのシラバスのチェックリストを利用できません。<br>
    開放するには、以下のシラバスを完了してください
    <table>
      <tbody>
        <% i = 0 %>
        <% @zentei.each do |s| %>
        <tr>
          <td>
            <%= s.number %>
          </td>
          <td>
            <%= link_to s.name, sirabasu_path(s.number) %>
          </td>
          <% unless @stat_list[i] %>
          <td>
          未開放
          </td>
          <% end %>
        </tr>
        <% i += 1 %>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <%= link_to 'シラバス一覧へ戻る', sirabasus_path %>
  </div>
</div>