<div class="login-menu">
<div class="message">
<h1>OJTから始まる<br> 仕事の効率化をあなたに。</h1>
<h2>by Kawano Keita</h2>
</div>
<div class=first-layer>
  <h1>ログインする</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=> "input-box" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", :class=> "input-box" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "次回以降の入力を省略する" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "LOGIN", :class=> "link-button"%>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
</div>