<div class="first-box">
  <div class="content-box">
    <h1>スタッフ</h1>

    <%=form_tag({ controller: 'user', action: 'index' },{ method: "get"}) do %>
      <%= text_field_tag(:name, ' ', class: 'serch-box') %>
      <%= submit_tag '検索'%>
      <%= link_to "詳細検索", "/user/search" %>
    <% end %>
<% if @user.present? %>
検索結果　
<% @user.each do |user| %>
 <p><%=link_to user.name ,user_path(user)%></p>
<% end %>

<% if @i != 0 %>
 <% for num in 0..(@i-1) %>
  <p><%= link_to @user2[num].name, user_path(@user2[num]) %></p>
 <% end %>
 <p>該当者 <%= @i %>名</p>
<% else %>
<p>該当者 <%= @user.count %>名</p>
<% end %>
<% elsif params[:commit] == "検索"then %>
検索結果　その検索条件での該当者はいませんでした
<% end %>

    <div class="lists">
      <p>ADMIN</p>
      <table>
        <tbody>
          <% @kanrisya.each do |kanrisya| %>
          <% if kanrisya.cid == current_kanrisya.cid %>
            <% if kanrisya.admin == true %>
          <tr>
            <td>
                  <%=link_to kanrisya.name ,user_path(kanrisya)%>
            </td>
          </tr>
          <% end %>
        <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="lists">
      <p>USER</p>
      <table>
        <tbody>
          <% @kanrisya.each do |kanrisya| %>
          <% if kanrisya.cid == current_kanrisya.cid %>
            <% if kanrisya.admin == false %>
          <tr>
            <td>
                  <%=link_to kanrisya.name ,user_path(kanrisya)%>
            </td>
          </tr>
          <% end %>
        <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <% if current_kanrisya.admin == true %>
      <p><%= link_to '新しい社員登録', '/user/new' %></p>
    <% end %>

  </div>
</div>

<!--
<% if current_kanrisya.admin == true %>
<p><%= link_to '新しい社員登録', '/user/new' %></p>
<% end %>
=======
>>>>>>> master

<p>
  <%= link_to 'Back', '/ojt_top/top' %>
</p> -->
