<div class="first-box">
  <div class="content-box">
    <h1>従業員一覧</h1>

    <div class="lists">
      <p>USER</p>
      <table>
        <tbody>
          <% @kanrisya.each do |kanrisya| %>
          <tr>
            <td>
              <% if kanrisya.cid == current_kanrisya.cid %>
                <% if kanrisya.admin == false %>
                  <%=link_to kanrisya.name ,user_path(kanrisya)%>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="lists">
      <p>ADMIN</p>
      <table>
        <tbody>
          <% @kanrisya.each do |kanrisya| %>
          <tr>
            <td>
              <% if kanrisya.cid == current_kanrisya.cid %>
                <% if kanrisya.admin == true %>
                  <%=link_to kanrisya.name ,user_path(kanrisya)%>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <% if current_kanrisya.admin == true %>
      <p><%= link_to '新しい社員登録', '/user/new' %></p>
    <% end %>

  </div>
</div>

<% if current_kanrisya.admin == true %>
<p><%= link_to '新しい社員登録', '/user/new' %></p>
<% end %>

<p>
  <%= link_to 'Back', '/ojt_top/top' %>
</p>
