<div class="first-box">
  <div class="content-box">
  <h1>プロフィール</h1>
  <% if @kanrisya.cid == current_kanrisya.cid %>

  <div class="plofile">
    <div class='plofile-img'>
      <% if  @kanrisya.image.present?%>
        <%= image_tag @kanrisya.image.url, :size =>'150x150' %>
        <% end %>
      </div>
      <!--<div class='plofile-name'>
        <h2>
          <%= @kanrisya.name %>
        </h2>
        <h3>
          <%= @kanrisya.admin ? '管理者' : '従業員' %>
        </h3>
      </div>
    </div>-->
    <div class="plofile-info">
      <div class='plofile-name'>
        <h2><%= @kanrisya.name %></h2>
        <h3><%= @kanrisya.belong %></h3>
      </div>
      <div class="plofile-info-sub">
        <div class="plofile-info-flex">
          <div class="plofile-info-num-left">
            <p>社員番号</p>
          </div>
          <div class="plofile-info-num-right">
            <p><%= @kanrisya.crew_number %></p>
            <% if @kanrisya.age.present? %>
            <% end %>
          </div>
        </div>
        <div class="plofile-info-flex">
        <div class="plofile-info-mail-left">
          <p>E-mail</p>
        </div>
        <div class="plofile-info-mail-right">
          <p><%= @kanrisya.email %></p>
        </div>
        </div>
        <div class="plofile-info-flex">
          <div class="plofile-info-ojt-left">
            <p>OJT完了率</p>
          </div>
          <div class="plofile-info-ojt-right">
            <% if @kanrisya.admin == false %>
              <p><%= @check_parcent %>%</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @kanrisya.admin == false %>
  <div class="lists">
    <p>シラバスの進捗</p>
    <table>
      <tbody>
        <% @sirabasu.each do |sirabasu| %>
          <tr>
            <td class='number'><%= sirabasu.number %>. </td>
            <td><%=link_to sirabasu.name, checklists_checkuser_path(:sirabasu_id => sirabasu.id,:kanrisya_id => @kanrisya.id)%></td>
            <td class="ojt-comp"><%= @sirabasu_check_ok_parcent[sirabasu.number-1] %> %</td>
            <td class="ojt-comp">
              <% if @sirabasuuser[sirabasu.id].sirabasu_ok == true%>
                <i class='material-icons'>check_box</i>
              <% end %>
              <% if @sirabasuuser[sirabasu.id].sirabasu_ok == false%>
                <i class='material-icons'>check_box_outline_blank</i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>

  <% else %>
    <p>あなたの会社の社員ではありません。</p>
  <% end %>


    <div class="options">
      <% if current_kanrisya.admin == true %>
      <%= link_to edit_user_path(@kanrisya) do %>
      <div class="weak-button">
        <i class='material-icons'>edit</i>編集
      </div>
      <% end %>
      <%= link_to user_path(@kanrisya), :method => :delete do %>
      <div class="weak-button">
        <i class="material-icons">delete</i>削除
      </div>
      <% end %>
     <% end %>
    </div>
  </div>
</div>

<!-- <%= link_to '一覧へ', "/user/index" %> -->
  </div>
</div>