<div class="first-box">
  <div class="content-box">
  <h1>プロフィール</h1>
  <% if @kanrisya.cid == current_kanrisya.cid %>

  <div class="plofile">
    <div class='plofile-img'>
      <% if  @kanrisya.image.present?%>
        <%= image_tag @kanrisya.image.url, :size =>'150x150' %>
      <% end %>
    </div>
    <div class="plofile-info">
      <div class='plofile-name'>
        <h2><%= @kanrisya.name %></h2>
        <h3><%= @kanrisya.belong %></h3>
      </div>
      <div class="plofile-info-sub">
        <div class="plofile-info-flex">
          <div class="plofile-info-num-left">
            <p>社員番号</p>
          </div>
          <div class="plofile-info-num-right">
            <p><%= @kanrisya.crew_number %></p>
            <% if @kanrisya.age.present? %>
            <% end %>
          </div>
        </div>
        <div class="plofile-info-flex">
        <div class="plofile-info-mail-left">
          <p>E-mail</p>
        </div>
        <div class="plofile-info-mail-right">
          <p><%= @kanrisya.email %></p>
        </div>
        </div>
        <div class="plofile-info-flex">
          <div class="plofile-info-ojt-left">
            <p>OJT完了率</p>
          </div>
          <div class="plofile-info-ojt-right">
            <% if @kanrisya.admin == false %>
            <p><%= @check_parcent %>%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sirabasu-ojt">
    <h3>シラバスの進捗</h3>
    <% @sirabasu.each do |sirabasu| %>
    <p><%= sirabasu.number %> <%=link_to sirabasu.name, checklists_checkuser_path(:sirabasu_id => sirabasu.id,:kanrisya_id => @kanrisya.id)%> <%= @sirabasu_check_ok_parcent[sirabasu.number-1] %>%
    <% if @sirabasuuser[sirabasu.id].sirabasu_ok == true%>完了！<% end %></p>
    <% end %>
    <% end %>
    <% else %>
      あなたの会社の社員ではありません。
    <% end %>
    </div>
    <div class="options">
      <% if current_kanrisya.admin == true %>
      <%= link_to edit_user_path(@kanrisya) do %>
      <div class="weak-button">
        <i class='material-icons'>edit</i>編集
      </div>
      <% end %>
      <%= link_to user_path(@kanrisya), :method => :delete do %>
      <div class="weak-button">
        <i class="material-icons">delete</i>削除
      </div>
      <% end %>
     <% end %>
    </div>
  </div>
</div>

<!-- <%= link_to '一覧へ', "/user/index" %> -->
  </div>
</div>
