<% if @kanrisya.cid == current_kanrisya.cid %>
 <div >
  <h3 ><%= @kanrisya.name %></h3>
  <% if  @kanrisya.image.present?%>
    <%= image_tag @kanrisya.image.url, :size =>'200x200' %>
  <% end %>
 </div>

  </aside>
  <p>社員番号 <%= @kanrisya.crew_number %></p>
  <% if @kanrisya.age.present? %>
    <p>年齢<%= @kanrisya.age %></p>
  <% end %>
  <p><%= @kanrisya.sex %></p>
  <p>メールアドレス <%= @kanrisya.email %></p>
  <p>管理権限 <%= @kanrisya.admin %></p>
  <% if @kanrisya.admin == false %>
  <p>総チェック数 <%= @check_ok_count %></p>
  <p>総チェック割合 <%= @check_parcent %>%</p>
  <h4>シラバスごとの進捗</h4>
  <% @sirabasu.each do |sirabasu| %>
   <p><%= sirabasu.number %> <%=link_to sirabasu.name, checklists_checkuser_path(:sirabasu_id => sirabasu.id,:kanrisya_id => @kanrisya.id)%> <%= @sirabasu_check_ok_parcent[sirabasu.number-1] %>%
    <% if @sirabasuuser[sirabasu.id].sirabasu_ok == true%>OJT完了！<% end %></p>
  <% end %>
  <% end %>
 </div>

 <% if current_kanrisya.admin == true %>
 <p><%= link_to '編集', edit_user_path(@kanrisya) %></p>
 <p><%= link_to "削除", user_path(@kanrisya), :method => :delete %></p>
 <% end %>
<% else %>
あなたの会社の社員ではありません。
<% end %>

<%= link_to '一覧へ', "/user/index" %>
