<h3>
  <%= @sirabasu.number %>.
  <%= @sirabasu.name %>
</h3>
<% if @sirabasuuser.sirabasu_ok == true%>
<%= @kanrisya.name %> はこのシラバスを完了しています
<% end %>
<table>
  <tbody>
    <% @checklist.each do |checklist| %>
    <tr>
      <td>
        <%= checklist.number %>.
      </td>
      <td>
        <%= checklist.content %>
      </td>
      <td>
        <% if @checkuser[checklist.number].check_ok == true %>
        〇
        <% else %>
        ✖
        <% end %>
      </td>
    <tr>
      <% end %>
  </tbody>
</table>
進捗
<%= @check_parcent %>％
<%=form_tag({ controller: 'sirabasus', action: 'sirabasu_complete' },{ method: "post"}) do %>
<% if current_kanrisya.admin == true || @s.sirabasu_ok ==true %>
<% if @sirabasuuser.sirabasu_ok == false && @check_parcent == 100%>
<%= hidden_field_tag :BBBB, @kanrisya.id %>
<%= hidden_field_tag :id, @sirabasuuser.id %>
<%= submit_tag 'OJTの完了', :class=> "link-button"%>
<% end %>
<% else %>
<% if @sirabasuuser.sirabasu_ok == false && @check_parcent == 100%>
<p>このシラバスを完了するには、管理者の承認が必要です</p>
<% end %>
<% end %>
<% end %>
<p>
  <%= link_to '戻る', user_path(@kanrisya) %>
</p>