<div class="first-box">
  <div class="content-box">
    <h1>進捗確認</h1>
      <div class="top-storage">
        <h3><%= @sirabasu.number %>. <%= @sirabasu.name %></h3>
        <div class="confir-check">
          <% if @sirabasuuser.sirabasu_ok == true%>
          <p><span style="font-size: 1.25rem;"><%= @kanrisya.name %> </span> さんはこのOJTを終了しています</p>
          <% end %>
          <div class="confir-lists">
            <table>
              <tbody>
                <% @checklist.each do |checklist| %>
                  <tr>
                    <% if @checkuser[checklist.number].check_ok == true %>
                      <td class='select'>
                        <i class='material-icons'>check</i>
                        <%= checklist.content %>
                      </td>
                    <% else %>
                      <td class='none'>
                        <i class='material-icons'>remove</i>
                        <%= checklist.content %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%=form_tag({ controller: 'sirabasus', action: 'sirabasu_complete' },{ method: "post"}) do %>
            <% if current_kanrisya.admin == true || @s.sirabasu_ok ==true %>
              <% if @sirabasuuser.sirabasu_ok == false && @check_parcent == 100%>
                <%= hidden_field_tag :BBBB, @kanrisya.id %>
                <%= hidden_field_tag :id, @sirabasuuser.id %>
                <%= button_tag :type=>'submit', :class=> "link-button" do%>
                  <i class='material-icons'>thumb_up_alt</i>
                  OJT完了
                <% end %>
              <% end %>
            <% else %>
              <% if @sirabasuuser.sirabasu_ok == false && @check_parcent == 100%>
                <p>このシラバスのOJT完了サインを貰ってください</p>
              <% end %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
