<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>WebD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900|Roboto:400,500,700,900&amp;subset=japanese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="header-logo">
        <%= image_tag('/assets/logo.svg') %>
        <h1>Manager</h1>
      </div>
        <!--- ログインしてなかったら非表示。してたらトップページなどにとぶリンクが出てくる --->
        <% if kanrisya_signed_in? %>
          <div class="header-link">
            <div class="header-link-left">
              <p><%= link_to 'ホーム', '/ojt_top/top' %></p>
              <p><%= link_to 'シラバス一覧', '/sirabasus/' %></p>
              <p><%= link_to '従業員一覧', '/user/index' %></p>
            </div>
            <div class="header-link-right">
              <%= link_to('ログアウト', destroy_kanrisya_session_path, :method => :delete) %>
            </div>
          </div>
        <% end %>
    </header>
    <div class="contents">
      <%= yield %>
    </div>
    <footer>
      <!---<div class="footer-logo">OJT Manager</div>
      <div class="footer-link"></div> --->
    </footer>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
